<div >
	<!-- Side Bar -->
	<div id="sidebar" >
		<div class="fade-in one">
			<br>
			<img src="./assets/img/TeamIcon.png" alt="logo" />
			<br> <br>
			<p><a href="#/dashboard" style="color:white">Dashboard</a></p>
			<p><a href="#/about" style="color:white">About</a></p>
			<p><a href="#/contact" style="color:white">Contact</a></p>
			<p><a href="#/" style="color:white">Logout</a></p>
			
		</div>
	</div>

	<!-- Actual Dashboard Cards and Data-->
	<div style="margin-left: 100px" class="fade-in one">

		
		<div class="col-md-12 " >
			<div id="card" style="width:90%" class="aboutCard">
				<h1>Hornet Home Automation</h1>
				<h1 class="aboutTitle">About</h1>
				<hr>
				<img src="./assets/img/iot.png" alt="logo" style="width:50%; height:20%; border-radius: 10px"/>
				<br><br>
				<p class="aboutParagraph">
					Home Automation is an emerging field and utilizes several concepts in electrical and computer engineering. 
					As we move forward to an ever connecting world, it is vital that we understand how our roles as engineers will evolve with it. 
				</p>
				
				<p class="aboutParagraph">
					We are living in a time of innovation, that requires us to think not only about what was done in the past, but also what should be done in the future.
					Hornet Home Automation is an attempt to familiarize ourselves with the basics of integrating technology to a connected network. 
				</p>	
			</div>
		</div>
		<!-- end the col-md-12 -->
	</div>
	<!-- End of the Dashboard View-->
</div>
