<div >
	<!-- Side Bar -->
	<div id="sidebar" >
		<br>
		<img src="/assets/img/TeamIcon.png" alt="logo" />
		<br> <br>
		<p><a href="/#/" style="color:white">Logout</a></p>
		<p>Settings</p>
		<p>Report</p>
	</div>

	<!-- Actual Dashboard Cards and Data-->
	<div style="margin-left: 100px" ng-controller="DashboardController as dash">

		
		<div class="col-md-12 " ng-init="dash.timeOut()">
			<!-- Card to display the data for the main microcontroller(master) -->
			<div  ng-repeat = "homeItem in dash.homeItemStack">
				<div class="col-md-4" >
					<div id="card">
						<div id="header">{{homeItem.itemTitle}}</div>
						<hr>
						<!-- items in the body of the card -->
						<div style="height:60%">
							<div class="spinner" ng-show="dash.loading" >
							  <div class="double-bounce1"></div>
							  <div class="double-bounce2"></div>
							</div>
							<!-- show if the item is disconnected -->
							<div class= "disconnectedStatus" ng-show="!dash.loading && !homeItem.isConnected" style="cursor:pointer" ng-click="dash.checkingForControllerConnection()">
								<p >{{dash.connectionLabel}}</p>
								<img src="/assets/img/gps-disconnected-icon-27871.png" alt="logo" style="width:60px; height:60px;"/>
							</div>
							<!-- show if the item is connected -->
							<div class="connectedStatus" ng-show="!dash.loading && homeItem.isConnected" style="cursor:pointer">
								{{homeItem.itemData}}
								<img ng-src="{{homeItem.itemImageSource}}" alt="logo" style="width:60px; height:60px; "/>
							</div>
						</div>
					</div>
				</div>
				<!-- end the col-md-4 -->
			</div>
			<!-- end the ng-repeat -->
		</div>
		<!-- end the col-md-12 -->
	</div>
	<!-- End of the Dashboard View-->
</div>
