<div >
    <!-- Side Bar -->
    <div id="sidebar" >
        <div >
            <br>
            <img src="./assets/img/TeamIcon.png" alt="logo" />
            <br> <br>
            <p><a href="#/dashboard" style="color:white">Dashboard</a></p>
            <p><a href="#/settings" style="color:white">Settings</a></p>
            <p><a href="#/about" style="color:white">About</a></p>
            <p><a href="#/contact" style="color:white">Contact</a></p>
            <p><a href="#/" style="color:white">Logout</a></p>
            
        </div>
    </div>

    <!-- Actual Dashboard Cards and Data-->
    <div style="margin-left: 100px" class="fade-in one" ng-controller="GarageController as garage">

        
        <div class="col-md-12 " >
            <div id="card" style="width:80%" class="garageCard">
                <div style="color: white">
                    <h1>Hornet Home Automation</h1>
                    <h3>Garage Door Controller</h3>
                </div>
                <hr style="border-top: 1px solid #ccc;"> 
                <div class="videoBlock" ng-if="!garage.videoIsLive">
                    <!-- <img src= "http://192.168.15.22:8081/?action=stream" width="600" height="400"/> -->
                </div>
                <div ng-if="garage.videoIsLive">
                    <!-- <img src= "http://{{garage.videoIP}}/?action=stream" width="600" height="400"/> -->
                </div>
                <div>
                    <button type="button" class="up_down_buttons border" ng-click="garage.toggleGarageDoor(true)">Open</button>
                    <button type="button" class="up_down_buttons border" ng-click="garage.toggleGarageDoor(false)">Close</button>
                </div>
            </div>
        </div>
        <!-- end the col-md-12 -->
    </div>
    <!-- End of the Dashboard View-->
</div>
