<!-- ************************************************ -->
<!-- ################## GARAGE ################## -->
<!-- ************************************************ -->
<div >
    <!-- Side Bar -->
    <div id="sidebar" >
        <div >
            <br>
            <img src="./assets/img/TeamIcon.png" alt="logo" />
            <br> <br>
            <p><a href="#/dashboard" style="color:white">Dashboard</a></p>
            <p><a href="#/settings" style="color:white">Settings</a></p>
            <p><a href="#/about" style="color:white">About</a></p>
            <p><a href="#/contact" style="color:white">Contact</a></p>
            <p><a href="#/" style="color:white">Logout</a></p>
            
        </div>
    </div>

    <!-- Garage video and controls-->
    <div style="margin-left: 100px" class="fade-in one" ng-controller="GarageController as garage">

        
        <div class="col-md-12 " >
            <div id="card" style="width:80%; background-color: #34495e; background-image: none" class="videoBackgroundCard">
                <div style="color: white">
                    <h1>Hornet Home Automation</h1>
                    <h3>Garage Door Controller</h3>
                    <!-- <hr style="border-top: 5px solid #ccc;">  -->
                </div>
                <div style="background-color: #ecf0f1;">
                    <br>
                    <h4 style="margin-bottom: 20px">Garage Door Status: {{garage.garageDoorStatus}}</h4>
                    <!-- <div class="videoBlock" ng-if="!garage.videoIsLive"> -->
                        <!-- Show nothing if no IP given -->
                    <!-- </div> -->
                    <!-- <div ng-if="garage.videoIsLive"> -->
                    <div>
                        <img ng-src= "{{garage.garageVideoIP}}" width="600" height="400" style="margin-bottom: 20px"/>
                    </div>
                    <div>
                        <button type="button" class="up_down_buttons border" ng-click="garage.toggleGarageDoor(true)">Open</button>
                        <button type="button" class="up_down_buttons border" ng-click="garage.toggleGarageDoor(false)">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end the col-md-12 -->
    </div>
    <!-- End of the Dashboard View-->
</div>
