<!-- ************************************************ -->
<!-- ################## CONTACT PAGE ################## -->
<!-- ************************************************ -->

<div >
	<!-- Side Bar -->
	<div id="sidebar" >
		<div >
			<br>
			<img src="./assets/img/TeamIcon.png" alt="logo" />
			<br> <br>
			<p><a href="#/dashboard" style="color:white">Dashboard</a></p>
			<p><a href="#/settings" style="color:white">Settings</a></p>
			<p><a href="#/about" style="color:white">About</a></p>
			<p><a href="#/contact" style="color:white">Contact</a></p>
			<p><a href="#/" style="color:white">Logout</a></p>
			
		</div>
	</div>

	<!-- Contact Contents-->
	<div style="margin-left: 100px" class="fade-in one">

		
		<div class="col-md-12 " >
			<div id="card" style="width:90%; " class="aboutCard">
				<div>
					<h1>Hornet Home Automation</h1>
					<h1 class="aboutTitle">Contact Us</h1>
				</div>
				<!-- <hr style="border-color: gray; border-width: 30px;"> -->
				<p class="aboutParagraph" style="text-align: center; background-color: #ecf0f1">
					Need to reach us? Shoot any one of us an email and we would be more than happy to respond to any questions. Thanks! 
				</p>
				<!-- <br> -->
				<div style="margin-top: 30px">
					<div class="col-md-3" style="background-color: #34495e; color: white">
						<a href="mailto:rickymartinez@csus.edu?Subject=Hornet%20Home%20Automation%20Question">
							<img src="./assets/img/rick2.jpg" alt="logo" style="width:200px; height:200px; border-radius: 50%; cursor:pointer; margin-top: 30px" class="grow" />
						</a>
						 <p style="font-size: 16pt"> Ricky A. Martinez</p>
						 <p>Application/Software Developer</p>
						 <p>rickymartinez@csus.edu</p>
						 <p>Major: Computer Engineering</p>

						 
					</div>
					<div class="col-md-3" style="background-color: #e74c3c; color: white">
						<a href="mailto:rickymartinez@csus.edu?Subject=Hornet%20Home%20Automation%20Question">
							<img src="./assets/img/Marshall.jpg" alt="logo" style="width:200px; height:200px; border-radius: 50%; cursor:pointer; margin-top: 30px" class="grow" />
						</a>
						 <p style="font-size: 16pt"> Marshall Bauguss</p>
						 
						 <p>Hardware Engineer</p>
						 <p>Major: Electrical Engineering</p>
						 <p>LinkedIn: Computer Engineering</p>
					</div>
					<div class="col-md-3" style="background-color: #f39c12; color: white">
						<a href="mailto:rickymartinez@csus.edu?Subject=Hornet%20Home%20Automation%20Question">
							<img src="./assets/img/julio.jpg" alt="logo" style="width:200px; height:200px; border-radius: 50%; cursor:pointer; margin-top: 30px" class="grow" />
						</a>
						 <p style="font-size: 16pt"> Julio Crespo</p>
						 
						 <p>Hardware Engineer</p>
						 <p>Major: Electrical Engineering</p>
						 <p>LinkedIn: Computer Engineering</p>
					</div>
					<div class="col-md-3" style="background-color: #16a085; color: white">
						<a href="mailto:rickymartinez@csus.edu?Subject=Hornet%20Home%20Automation%20Question">
							<img src="./assets/img/justin.jpg" alt="logo" style="width:200px; height:200px; border-radius: 50%; cursor:pointer; margin-top: 30px" class="grow" />
						</a>
						 <p style="font-size: 16pt"> Justin Kelley</p>
						 
						 <p>Software Developer</p>
						 <p>Major: Computer Engineering</p>
						 <p>LinkedIn: Computer Engineering</p>
					</div>
				</div>
			</div>
		</div>
		<!-- end the col-md-12 -->
	</div>
	<!-- End of the Dashboard View-->
</div>
