<div >
	<!-- Side Bar -->
	<div id="sidebar" >
		<div class="fade-in one">
			<br>
			<img src="./assets/img/TeamIcon.png" alt="logo" />
			<br> <br>
			<p><a href="#/dashboard" style="color:white">Dashboard</a></p>
			<p><a href="#/about" style="color:white">About</a></p>
			<p><a href="#/contact" style="color:white">Contact</a></p>
			<p><a href="#/" style="color:white">Logout</a></p>
			
		</div>
	</div>

	<!-- Actual Dashboard Cards and Data-->
	<div style="margin-left: 100px" class="fade-in one">

		
		<div class="col-md-12 " >
			<div id="card" style="width:90%" class="aboutCard">
				<h1>Hornet Home Automation</h1>
				<h1 class="aboutTitle">Contact Us</h1>
				<hr>
				<p class="aboutParagraph" style="text-align: center">
					Questions? Concerns? Congrats?  
				</p>
				<br>
				<a href="mailto:rickymartinez@csus.edu?Subject=Hornet%20Home%20Automation%20Question">
					<img src="./assets/img/rick2.jpg" alt="logo" style="width:150px; height:150px; border-radius: 50%; cursor:pointer" class="grow" />
				</a>
				 <p style="font-size: 16pt"> Ricky A. Martinez</p>
				 <p>rickymartinez@csus.edu</p>
			</div>
		</div>
		<!-- end the col-md-12 -->
	</div>
	<!-- End of the Dashboard View-->
</div>
