<!-- ************************************************ -->
<!-- ################## WEB CAMERA ################## -->
<!-- ************************************************ -->
<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#zero').click(function(){
                    var a = new HMLHttpRequest();
                    a.open("GET","10.113.47.155/zero.php");
                    a.onreadystatechange=function(){
                        if(a.readyState==4){
                            if(a.status ==200){

                            }
                            else alert("HTTP ERROR");
                        }
                    }
                    a.send();
                });
                $('#fourfive').click(function(){
                    var a = new HMLHttpRequest();
                    a.open("GET","10.113.47.155/fourfive.php");
                    a.onreadystatechange=function(){
                        if(a.readyState==4){
                            if(a.status ==200){

                            }
                            else alert("HTTP ERROR");
                        }
                    }
                    a.send();
                });
                $('#ninezero').click(function(){
                    var a = new HMLHttpRequest();
                    a.open("GET","10.113.47.155/ninezero.php");
                    a.onreadystatechange=function(){
                        if(a.readyState==4){
                            if(a.status ==200){

                            }
                            else alert("HTTP ERROR");
                        }
                    }
                    a.send();
                });
                $('#onethreefive').click(function(){
                    var a = new HMLHttpRequest();
                    a.open("GET","10.113.47.155/onethreefive.php");
                    a.onreadystatechange=function(){
                        if(a.readyState==4){
                            if(a.status ==200){

                            }
                            else alert("HTTP ERROR");
                        }
                    }
                    a.send();
                });
                $('#oneeighty').click(function(){
                    var a = new HMLHttpRequest();
                    a.open("GET","10.113.47.155/oneeighty.php");
                    a.onreadystatechange=function(){
                        if(a.readyState==4){
                            if(a.status ==200){

                            }
                            else alert("HTTP ERROR");
                        }
                    }
                    a.send();
                });
            });

        </script>
</head>

<div >
    <!-- Side Bar -->
    <div id="sidebar" >
        <div >
            <br>
            <img src="./assets/img/TeamIcon.png" alt="logo" />
            <br> <br>
            <p><a href="#/dashboard" style="color:white">Dashboard</a></p>
            <p><a href="#/settings" style="color:white">Settings</a></p>
            <p><a href="#/about" style="color:white">About</a></p>
            <p><a href="#/contact" style="color:white">Contact</a></p>
            <p><a href="#/" style="color:white">Logout</a></p>
            
        </div>
    </div>

    <!-- Web Camera-->
    <div style="margin-left: 100px" class="fade-in one" ng-controller="WebCamController as cam">
        
        <div class="col-md-12 " >
            <div id="card" style="width:80%; background-color: #16a085; background-image: none" class="videoBackgroundCard">
                <div style="color: white">
                    <h1>Hornet Home Automation</h1>
                    <h3>Web Camera and Controller</h3>
                    <body onload="process()">
                    Enter the angle you would like to look at: <br>
                    <button type="button" id="zero" style="color:black">0 degrees</button>
                    <button type="button" id="fourfive" style="color:black">45 degrees</button>
                    <button type="button" id="ninezero" style="color:black">90 degrees</button>
                    <button type="button" id="onethreefive" style="color:black">135 degrees</button>
                    <button type="button" id="oneeighty" style="color:black">180 degrees</button>
                    </body>
                </div>
                <div style="background-color: #ecf0f1">
                    <br>
                    <div class="videoBlock" ng-if="!cam.videoIsLive">
                        <!-- Show a gray block if there is no video playing -->
                    </div>
                    <div ng-if="cam.videoIsLive">
                        <!-- Attempt to connect to the video stream -->
                        <img class="video-image" style="-webkit-user-select: none; margin-bottom: 20px" ng-src="{{cam.webCamIP}}" width="600" height="400">
                    </div>
                    <div>
                        <button type="button" class="up_down_buttons border" ng-click="cam.turnVideoFeedOn()">{{cam.buttonText}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end the col-md-12 -->
    </div>
    <!-- End of the Dashboard View-->
</div>
</html>