<!-- ************************************************ -->
<!-- ################## WEB CAMERA ################## -->
<!-- ************************************************ -->
<!DOCTYPE html>
<html>


<div >
    <!-- Side Bar -->
    <div id="sidebar" >
        <div >
            <br>
            <img src="./assets/img/TeamIcon.png" alt="logo" />
            <br> <br>
            <p><a href="#/dashboard" style="color:white">Dashboard</a></p>
            <p><a href="#/settings" style="color:white">Settings</a></p>
            <p><a href="#/about" style="color:white">About</a></p>
            <p><a href="#/contact" style="color:white">Contact</a></p>
            <p><a href="#/" style="color:white">Logout</a></p>
            
        </div>
    </div>

    <!-- Web Camera-->
    <div style="margin-left: 100px" class="fade-in one" ng-controller="WebCamController as cam">
        
        <div class="col-md-12 " >
            <div id="card" style="width:80%; background-color: #16a085; background-image: none" class="videoBackgroundCard">
                <div style="color: white">
                    <h1>Hornet Home Automation</h1>
                    <h3>Web Camera and Controller</h3>
                </div>
                <div style="background-color: #ecf0f1">
                    <br>
                    <div class="videoBlock" ng-if="!cam.videoIsLive">
                        <!-- Show a gray block if there is no video playing -->
                    </div>
                    <div ng-if="cam.videoIsLive">
                        <!-- Attempt to connect to the video stream -->
                        <img class="video-image" style="-webkit-user-select: none; margin-bottom: 20px" ng-src="{{cam.webCamIP}}" width="600" height="400">
                    </div>
                    <div>
                        <button type="button" class="up_down_buttons border" ng-click="cam.turnVideoFeedOn()">{{cam.buttonText}}</button>
                    </div>
                    <!-- we want to change this for the buttons-->
                    <div>
                        <button type="button" class="up_down_buttons border" ng-click="cam.toggleServo(0)">0 degrees</button>
                        <button type="button" class="up_down_buttons border" ng-click="cam.toggleServo(45)">45 degrees</button>
                        <button type="button" class="up_down_buttons border" ng-click="cam.toggleServo(90)">90 degrees</button>
                        <button type="button" class="up_down_buttons border" ng-click="cam.toggleServo(135)">135 degrees</button>
                        <button type="button" class="up_down_buttons border" ng-click="cam.toggleServo(180)">180 degrees</button>
                    </div>
                    <!-- don't change no more -->
                </div>
            </div>
        </div>
        <!-- end the col-md-12 -->
    </div>
    <!-- End of the Dashboard View-->
</div>
</html>