<!-- ************************************************ -->
<!-- ################## WEB CAMERA ################## -->
<!-- ************************************************ -->
<div >
    <!-- Side Bar -->
    <div id="sidebar" >
        <div >
            <br>
            <img src="./assets/img/TeamIcon.png" alt="logo" />
            <br> <br>
            <p><a href="#/dashboard" style="color:white">Dashboard</a></p>
            <p><a href="#/settings" style="color:white">Settings</a></p>
            <p><a href="#/about" style="color:white">About</a></p>
            <p><a href="#/contact" style="color:white">Contact</a></p>
            <p><a href="#/" style="color:white">Logout</a></p>
            
        </div>
    </div>

    <!-- Web Camera-->
    <div style="margin-left: 100px" class="fade-in one" ng-controller="WebCamController as cam">

        
        <div class="col-md-12 " >
            <div id="card" style="width:80%" class="videoBackgroundCard">
                <div style="color: white">
                    <h1>Hornet Home Automation</h1>
                    <h3>Web Camera</h3>
                </div>
                <hr style="border-top: 1px solid #ccc;"> 
                <div class="videoBlock" ng-if="!cam.videoIsLive">
                    <!-- Show a gray block if there is no video playing -->
                </div>
                <div ng-if="cam.videoIsLive">
                    <img class="video-image" style="-webkit-user-select: none;" ng-src="{{cam.webCamIP}}" width="600" height="400">
                    <!-- Attempt to connect to the video stream -->
                </div>
                <div>
                    <button type="button" class="up_down_buttons border" ng-click="cam.turnVideoFeedOn()">Turn Video On</button>
                </div>
            </div>
        </div>
        <!-- end the col-md-12 -->
    </div>
    <!-- End of the Dashboard View-->
</div>
